<div class="mb-3">
  <p-dropdown
    [options]="tipo"
    [(ngModel)]="filtroSelezionato"
    placeholder="filter by type"
    class="mt-2"
    optionLabel="name"
    [showClear]="true"
  ></p-dropdown>
  <form [formGroup]="formGroup">
    <input
      type="text"
      formControlName="soggFiltrato"
      class="mt-2 mr-1"
      required
    />

    <button (click)="filtra()" class="btn btn-light">filter</button>
  </form>
  <button class="btn btn-warning mt-3" (click)="removeFilter()">
    remove all filter
  </button>
  
  <button class="btn btn-success mt-3" (click)="new()">
    add
  </button>
</div>
<table class="table table-striped">
  <!--  <th scope="col" *ngFor="let option of options.colsOptions">{{option.label}}</th> -->
  <!--   <th scope="col">id</th> -->
  <th scope="col">title</th>
  <th scope="col">business name</th>
  <th scope="col">province</th>
  <th scope="col"></th>
  <tr *ngFor="let valore of lista">
    <!--  <td>{{ valore.docenteId }}</td> -->
    <td>{{ valore.titolo }}</td>
    <td>{{ valore.ragioneSociale }}</td>
    <td>{{ valore.provincia }}</td>
    <td>
      <button class="btn btn-info mr-2" type="button" (click)="show(valore)">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>

      <button
        class="btn btn-danger mr-2"
        (click)="confirm1(valore.docenteId)"
        type="button"
      >
        <i class="fa fa-trash" aria-hidden="true"></i>
        <p-confirmDialog
          [style]="{ width: '50vw' }"
          [baseZIndex]="10"
          header="Conferma"
          key="conferma"
          closable="true"
          [transitionOptions]="'0ms'"
        ></p-confirmDialog>
      </button>

      <button class="btn btn-info mr-2" (click)="edit(valore.docenteId)">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>
    </td>
  </tr>
</table>
<button type="button" class="btn btn-primary" (click)="dietro()">
  <i class="pi pi-backward"></i>
</button>
<font class="ml-2 mr-2" style="font-weight: bold;">{{ pagina }}</font>
<button type="button" class="btn btn-primary" (click)="avanti()">
  <i class="pi pi-forward"></i>
</button>

<p-sidebar [(visible)]="visibleSidebar5" position="right" [baseZIndex]="100000">
  <div>
    teachers id: {{ utCorr?.docenteId }} <br />
    title: {{ utCorr?.titolo }} <br />
    business name: {{ utCorr?.ragioneSociale }} <br />
    address: {{ utCorr?.indirizzo }} <br />
    resort: {{ utCorr?.localita }}<br />
    province: {{ utCorr?.provincia }} <br />
    nation: {{ utCorr?.nazione }} <br />
    phone number: {{ utCorr?.telefono }} <br />
    fax: {{ utCorr?.fax }} <br />
    partita iva: {{ utCorr?.partitaIva }} <br />
    referent: {{ utCorr?.referente }}
  </div>
</p-sidebar>

<div class="container-mt-3">
  <p-messages [value]="msgs" [style]="{ width: '100%' }"></p-messages>
</div>
