<div class="mb-3">
  <p-dropdown
    [options]="tipo2"
    [(ngModel)]="filtroSelezionato"
    placeholder="filter by type"
    class="mt-2"
    optionLabel="name"
    [showClear]="true"
  ></p-dropdown>
  <form [formGroup]="formGroup">
    <input
      type="text"
      formControlName="soggFiltrato"
      class="mt-2 mr-1"
      required
    />

    <button (click)="filtra()" class="btn btn-light">filter</button>
  </form>
  <button class="btn btn-warning mt-3" (click)="removeFilter()">
    remove all filter
  </button>


  <button class="btn btn-success mt-3" (click)="new()">
    add
  </button>
</div>




<table class="table table-striped">
  <!--  <th scope="col" *ngFor="let option of options.colsOptions">{{option.label}}</th> -->
 <!--  <th scope="col">id</th> -->
  <th scope="col">first name</th>
  <th scope="col">surname</th>
  <th scope="col">freshman</th>
  <th scope="col">society</th>
  <tr *ngFor="let valore of lista">

 <!--    <td>{{ valore.dipendenteId }}</td> -->
    <td>{{ valore.nome }}</td>
    <td>{{ valore.cognome }}</td>
    <td>{{ valore.matricola }}</td>
    <td>{{ valore.societa?.ragioneSociale }}</td>
    <td>
      <button
        pButton
        class="btn btn-info mr-2"
        type="button"
        (click)="show(valore)"
      >
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
    </td>
  </tr>
</table>
<button type="button" class="btn btn-primary" (click)="dietro()"><i class="pi pi-backward"></i></button>
<font class="ml-2 mr-2" style="font-weight: bold; ">{{pagina}}</font>
<button type="button" class="btn btn-primary" (click)="avanti()"><i class="pi pi-forward"></i></button>

<p-sidebar
  [(visible)]="visibleSidebar5"
  position="right"
  [baseZIndex]="100000"
>
  <div>
    employees Id: {{ utCorr?.dipendenteId }} <br />
    freshman: {{ utCorr?.matricola }} <br />
    society: {{ utCorr?.societa?.ragioneSociale }} <br />
    surname: {{ utCorr?.cognome }} <br />
    first name: {{ utCorr?.nome }}<br />
    gender: {{ utCorr?.sesso }} <br />
    date of birth: {{ utCorr?.dataNascita }} <br />
    birth place: {{ utCorr?.luogoDiNascita }} <br />
    marital status: {{ utCorr?.statoCivile }} <br />
    educational qualification: {{ utCorr?.titoloStudio }} <br />
    achieved at: {{ utCorr?.conseguitoPresso }} <br />
    Year Graduated: {{ utCorr?.annoConseguimento }} <br />
    Employee type: {{ utCorr?.tipoDipendente }} <br />
    qualification: {{ utCorr?.qualifica }} <br />
    level: {{ utCorr?.livello }} <br />
    assumption date: {{ utCorr?.dataAssunzione }} <br />
    area manager: {{ utCorr?.responsabileArea }} <br />
    Resource manager: {{ utCorr?.responsabileRisorsa }} <br />
    End of relationship date: {{ utCorr?.dataFineRapporto }} <br />
    Contract Expiration date: {{ utCorr?.dataScadenzaContratto }}
  </div>
</p-sidebar>
